.fancybox-container {
	position: fixed;
	top: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.8);
	transform-origin: top left;
}

.fancybox-stage {
	width: 56.25vw;
	aspect-ratio: 963/541;
}

.fancybox-slide {
	width: 100%;
	height: 100%;
}

.fancybox-content {
	width: 100% !important;
	height: 100% !important;
	display: grid;
	grid-template-columns: 9fr 1fr;
	gap: 0.5vw;
	justify-content: center;
	align-items: flex-start;
}

.fancybox-content #popupCloseButton {
	justify-self: start;
	background-image: url("../assets/popup/popup_close_button.png");
	background-size: 100% 100%;
	width: 50%;
	aspect-ratio: 1/1;
}

.fancybox-stage video {
	width: 100%;
	height: auto;
}

.fancybox-stage iframe {
	width: 100%;
	height: 100%;
}

@media screen and (max-width: 768px) {
	.fancybox-stage {
		width: 100vw;
	}

	.fancybox-content {
		display: flex;
		gap: 2vw;
		flex-direction: column;
		align-items: center;
	}

	#popupCloseButton {
		width: 10%;
	}
}
