.fancybox-container {
	position: fixed;
	top: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0 0 0 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
}

.fancybox-stage {
	width: 500px;
	height: fit-content;
	background-color: red;
	overflow: hidden;
}

.fancybox-stage video {
	width: 500px;
}
