#container3 {
	background-image: url("../assets/kynang/kynang_bg.jpg");
	height: 1106px;
}

#container3 > .title {
	width: 941px;
	aspect-ratio: 941/132;
	margin-top: 150px;
	margin-bottom: 120px;
}

#skillContainer {
	margin-inline: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 5rem;
	position: relative;
}

#skillContainer .skillBg {
	width: 1155px;
	height: 605px;
	background-image: url("../assets/kynang/kynang_skill_container_bg.png");
	background-size: 100% 100%;
	position: relative;
	display: flex;
	justify-content: center;
}

#skillContainer .skill-swiper-pc {
	width: 1109px;
	height: 473px;
	position: absolute;
	top: 40px;
	overflow: hidden;
}

#skillContainer .swiper-slide {
	width: 1109px;
	height: 473px;
	position: relative;
}

#skillContainer :is(.swiper-button-next, .swiper-button-prev) {
	width: 38px;
	height: 69px;
	position: absolute;
	z-index: 10;
}

#skillContainer :is(.swiper-button-next, .swiper-button-prev)::after {
	display: none;
}

#skillContainer .swiper-button-next {
	right: -150px;
	background-image: url("../assets/kynang/kynang_next_button.png");
}

#skillContainer .swiper-button-prev {
	left: -150px;
	background-image: url("../assets/kynang/kynang_prev_button.png");
}

#skillContainer .skill {
	width: 1109px;
	height: 473px;
}

#skillContainer .bookContainer {
	position: absolute;
	top: -35px;
	left: -40px;
}

#skillContainer .book {
	--animate-duration: 0.5s;
	width: 433px;
	height: 584px;
	z-index: 1;
	position: absolute;
	z-index: 3;
	pointer-events: none;
}

#skillContainer .decorBook {
	width: 479px;
	height: 599px;
	position: absolute;
	z-index: 2;
	top: -45px;
	left: -110px;
	pointer-events: none;
}

#skillContainer .butterflyDecoration {
	width: 128px;
	height: 375px;
	position: absolute;
	right: -90px;
	top: 150px;
	z-index: 3;
}

#skillContainer .playVideo {
	width: 64px;
	height: 154px;
	background-image: url("../assets/kynang/kynang_button_container_bg.png");
	position: absolute;
	z-index: 3;
	right: 40px;
	top: 120px;
}

#skillContainer .playVideoButtonFrame3 {
	width: 49px;
	height: 49px;
	background-image: url("../assets/kynang/kynang_play_video_button.png");
	position: absolute;
	left: calc(50% - 49px / 2);
	top: 15%;
	animation: my_button_pulse_animation;
	animation-timing-function: linear;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}

#skillContainer .skillText {
	width: 100px;
	font-size: 36px;
	color: rgb(251 244 227);
	position: absolute;
	text-align: center;
	top: -100px;
	left: 50%;
	transform: translateX(-50%);
}

/**/
#descriptionContainer {
	display: flex;
	align-items: flex-start;
	gap: 20px;
	text-align: justify;
	width: 1100px;
	height: 200px;
	align-self: center;
	position: absolute;
	bottom: -200px;
	z-index: 5;
}

#skillIcon {
	display: block;
	width: 92px;
	height: 99px;
}

/**/
#skillIcon + div {
	height: 100%;
	display: grid;
	grid-template-rows: 3fr 7fr;
	width: calc(1100px - 92px);
	height: 200px;
}

/**/
#skillName {
	font-weight: bold;
	display: flex;
	align-items: center;
	font-size: 48px;
	color: rgb(252 242 205);
}

#skillDescription {
	width: 100%;
	display: flex;
	align-items: flex-start;
	overflow: hidden;
	line-height: 24px;
	font-size: 22px;
	max-height: calc(24px * 6);
	color: beige;
}

#skillText {
	color: rgb(239, 225, 201);
	font-weight: bold;
	position: absolute;
	font-size: 3rem;
	text-align: center;
	top: -120px;
	left: 50%;
	transform: translateX(-50%);
}

/* mobile -------------------------------------------------------- */

#mobileIconContainer {
	display: none !important;
}

#skillContainerMobile {
	display: none;
	width: 768px;
	height: 862px;
}

#skillContainerMobile .skillMobile {
	width: 631px;
	height: 576px;
	display: block;
	margin-inline: auto;
	padding-top: 10px;
}

#skillContainerMobile .playVideoMobile {
	position: absolute;
	top: 140px;
	right: 100px;
	background-image: url("../assets/kynang/kynang_button_container_bg.png");
	width: 64px;
	height: 154px;
}

#skillContainerMobile .playVideoButtonFrame3Mobile {
	background-image: url("../assets/kynang/kynang_play_video_button.png");
	width: 49px;
	height: 49px;
	position: absolute;
	top: 30px;
	left: 50%;
	transform: translateX(-50%);
	animation: my_button_pulse_animation;
	animation-timing-function: linear;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}

#skillContainerMobile .skillTextMobile {
	color: rgb(250 243 223);
	font-weight: bold;
	position: absolute;
	top: -100px;
	font-size: 36px;
	left: 50%;
	transform: translateX(-50%);
}

#skillContainerMobile .descriptionContainerMobile {
	display: flex;
	align-items: flex-start;
	gap: 20px;
	padding: 10px 20px;
	margin-top: 20px;
}

#skillContainerMobile .skillNameMobile {
	font-size: 30px;
	font-weight: bold;
	color: rgb(161 62 75);
	margin-bottom: 10px;
}

#skillContainerMobile .skillDescriptionMobile {
	text-align: justify;
	font-size: 20px;
	line-height: 22px;
	max-height: calc(22px * 5);
	overflow: hidden;
}

#skillContainerMobile .skill-swiper-mobile {
	width: 768px;
	height: 862px;
	position: relative;
}

#skillContainerMobile .swiper-slide {
	width: 644px;
	height: 862px;
}

#skillContainerMobile .skillBgMobile {
	width: 644px;
	height: 862px;
	margin-inline: auto;
	background-image: url("../assets/kynang/kynang_skill_container_bg_mobile.png");
	background-size: 100% 100%;
}

.skill-swiper-mobile :is(.swiper-button-prev, .swiper-button-next) {
	background-image: url("../assets/kynang/kynang_next_button.png");
	width: 38px;
	height: 69px;
	top: 350px !important;
	position: absolute;
}

.skill-swiper-mobile :is(.swiper-button-prev, .swiper-button-next)::after {
	display: none;
}

.skill-swiper-mobile .swiper-button-next {
	transform: scaleX(-1);
}

.skill-swiper-mobile .swiper-pagination {
	bottom: -150px;
	display: flex;
	justify-content: center;
	gap: 20px;
}

.skill-swiper-mobile :is(.swiper-pagination-bullet, .swiper-pagination-bullet-active) {
	background-image: url("../assets/kynang/kynang_icon.png");
	background-size: 100% 100%;
	width: 96px !important;
	height: 96px !important;
	background-color: transparent;
	opacity: 0.75;
}
.skill-swiper-mobile .swiper-pagination-bullet-active {
	scale: 1.1;
	opacity: 1;
}

@media screen and (max-width: 768px) {
	#container3 {
		width: 768px;
		height: 1415px;
		background-image: url("../assets/kynang/kynang_bg_mobile.jpg");
	}

	#container3 > .title {
		width: 768px;
		height: 119px;
	}

	#skillContainer {
		display: none;
	}

	#descriptionContainer {
		display: none;
	}

	#skillContainerMobile {
		display: flex;
		justify-content: center;
	}
	#mobileIconContainer {
		display: flex !important;
		gap: 10px;
		margin-inline: auto;
	}
}
