#container3 {
	background-image: url("../assets/kynang/kynang_bg.jpg");
	height: 1106px;
}

#container3 > .title {
	background-image: url("../assets/kynang/kynang_title.png");
	width: 941px;
	aspect-ratio: 941/132;
	margin-top: 50px;
	margin-bottom: 120px;
}

#skillContainer {
	margin-inline: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 5rem;
	position: relative;
}

#skillContainer > button {
	width: 5rem;
	aspect-ratio: 1/1;
	display: inline-block;
}

#prevButton,
#nextButton {
	background-image: url("../assets/kynang/kynang_next_button.png");
	width: 38px;
	height: 69px;
}

#nextButton {
	transform: scaleX(-1);
}

#nextButton:hover {
	transform: scale(-1.1);
}

#skillBg {
	width: 1155px;
	height: 605px;
	background-image: url("../assets/kynang/kynang_skill_container_bg.png");
	background-size: 100% 100%;
	position: relative;
	display: flex;
	justify-content: center;
}

#skill {
	width: 1109px;
	height: 473px;
	position: absolute;
	top: 42px;
}

#skill > img {
	width: 100%;
	height: 100%;
	pointer-events: none;
}

#book {
	width: 433px;
	height: 584px;
	z-index: 1;
	position: absolute;
	left: 0;
	bottom: 60px;
	z-index: 3;
}

#book > img {
	width: 100%;
	height: 100%;
}

#decorBook {
	background-image: url("../assets/kynang/kynang_book.png");
	width: 479px;
	height: 599px;
	position: absolute;
	z-index: 2;
	left: -105px;
	bottom: 90px;
}

#butterflyDecoration {
	width: 128px;
	height: 375px;
	background-image: url("../assets/kynang/kynang_butterfly_decor.png");
	position: absolute;
	right: -90px;
	top: -50px;
	z-index: 3;
}

#playVideo {
	width: 64px;
	height: 154px;
	background-image: url("../assets/kynang/kynang_button_container_bg.png");
	position: absolute;
	z-index: 3;
	right: 60px;
	top: 170px;
}

#playVideoButtonFrame3 {
	width: 49px;
	height: 49px;
	background-image: url("../assets/kynang/kynang_play_video_button.png");
	position: absolute;
	left: calc(50% - 49px / 2);
	top: 15%;
}

/**/
#descriptionContainer {
	display: flex;
	align-items: flex-start;
	gap: 20px;
	text-align: justify;
	width: 1100px;
	height: 200px;
	align-self: center;
	position: absolute;
	bottom: -40px;
}

#skillIcon {
	display: block;
	width: 92px;
	height: 99px;
}

/**/
#skillIcon + div {
	height: 100%;
	display: grid;
	grid-template-rows: 2fr 8fr;
	width: calc(1100px - 92px);
	height: 200px;
}

/**/
#skillName {
	width: 100%;
	height: 40%;
	font-weight: bold;
	display: flex;
	align-items: center;
	font-size: 48px;
	color: white;
}

#skillDescription {
	width: 100%;
	display: flex;
	align-items: flex-start;
	overflow: hidden;
	line-height: 22px;
	font-size: 22px;
	max-height: calc(22px * 3);
	color: beige;
}

#skillText {
	color: rgb(239, 225, 201);
	font-weight: bold;
	position: absolute;
	font-size: 3rem;
	text-align: center;
	top: -120px;
	left: 50%;
	transform: translateX(-50%);
}

/* mobile -------------------------------------------------------- */

#mobileIconContainer {
	display: none !important;
}

#skillContainerMobile {
	display: none;
	width: 768px;
	height: 862px;
}

#skillContainerMobile .skillMobile {
	width: 631px;
	height: 576px;
	display: block;
	margin-inline: auto;
	padding-top: 10px;
}

#skillContainerMobile .playVideoMobile {
	position: absolute;
	top: 140px;
	right: 100px;
	background-image: url("../assets/kynang/kynang_button_container_bg.png");
	width: 64px;
	height: 154px;
}

#skillContainerMobile .playVideoButtonFrame3Mobile {
	background-image: url("../assets/kynang/kynang_play_video_button.png");
	width: 49px;
	height: 49px;
	position: absolute;
	top: 30px;
	left: 50%;
	transform: translateX(-50%);
}

#skillContainerMobile .skillTextMobile {
	color: rgb(250 243 223);
	font-weight: bold;
	position: absolute;
	top: -100px;
	font-size: 36px;
	left: 50%;
	transform: translateX(-50%);
}

#skillContainerMobile .descriptionContainerMobile {
	display: flex;
	align-items: flex-start;
	gap: 20px;
	padding: 10px 20px;
	margin-top: 20px;
}

#skillContainerMobile .skillNameMobile {
	font-size: 30px;
	font-weight: bold;
	color: rgb(161 62 75);
	margin-bottom: 10px;
}

#skillContainerMobile .skillDescriptionMobile {
	text-align: justify;
	font-size: 20px;
	line-height: 22px;
	max-height: calc(22px * 5);
	overflow: hidden;
}

#skillContainerMobile .skill-swiper {
	width: 768px;
	height: 862px;
	position: relative;
}

#skillContainerMobile .swiper-slide {
	width: 644px;
	height: 862px;
}

#skillContainerMobile .skillBgMobile {
	width: 644px;
	height: 862px;
	margin-inline: auto;
	background-image: url("../assets/kynang/kynang_skill_container_bg_mobile.png");
	background-size: 100% 100%;
}

.skill-swiper :is(.swiper-button-prev, .swiper-button-next) {
	background-image: url("../assets/kynang/kynang_next_button.png");
	width: 38px;
	height: 69px;
	top: 350px !important;
	position: absolute;
}

.skill-swiper :is(.swiper-button-prev, .swiper-button-next)::after {
	display: none;
}

.skill-swiper .swiper-button-next {
	transform: scaleX(-1);
}
.skill-swiper .swiper-button-next:hover {
	transform: scale(-1.1);
}

.skill-swiper .swiper-pagination {
	bottom: -150px;
	display: flex;
	justify-content: center;
	gap: 20px;
}

.skill-swiper :is(.swiper-pagination-bullet, .swiper-pagination-bullet-active) {
	background-image: url("../assets/kynang/kynang_icon.png");
	background-size: 100% 100%;
	width: 96px !important;
	height: 96px !important;
	background-color: transparent;
	opacity: 0.75;
}
.skill-swiper .swiper-pagination-bullet-active {
	scale: 1.1;
	opacity: 1;
}

@media screen and (max-width: 768px) {
	#container3 {
		width: 768px;
		height: 1415px;
		background-image: url("../assets/kynang/kynang_bg_mobile.jpg");
	}

	#container3 > .title {
		width: 768px;
		height: 119px;
	}

	#skillContainer {
		display: none;
	}

	#descriptionContainer {
		display: none;
	}

	#skillContainerMobile {
		display: flex;
		justify-content: center;
	}
	#mobileIconContainer {
		display: flex !important;
		gap: 10px;
		margin-inline: auto;
	}
}
