#container1 {
	background-image: url("../assets/main/main_bg.jpg");
	width: 1920px;
	height: 1106px;
}

/*Including Menu and 18+ */

#header {
	padding: 20px;
	display: flex;
	justify-content: space-between;
}

/*18+ */

#plus18Container {
	width: 153px;
	height: 81px;
}

#plus18Container > img {
	width: 100%;
	height: 100%;
}

/*right hand side menu*/

#menu {
	display: flex;
	gap: 10px;
	padding-right: 30px;
	align-items: center;
}

#homeButton,
#downloadButton,
#fbButton,
#groupButton,
#musicButton {
	width: fit-content;
	height: fit-content;
	user-select: none;
	cursor: pointer;
	transition: scale 200ms ease-in;
}

/**/

#titleContainer {
	width: 534px;
	aspect-ratio: 534/686;
	background-image: url("../assets/main/main_logo.png");
	position: absolute;
	left: 15%;
	top: 50px;
}

#playButton {
	position: absolute;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
	width: auto;
	height: 120px;
	aspect-ratio: 113/120;
	z-index: 1;
	transition: scale 200ms ease-in;
	background-image: url("../assets/main/main_play_video_button.png");
}

/**/

#progressContainer {
	background-image: url("../assets/main/main_hen_uoc_bg.png");
	background-size: 100% 100%;
	width: 1696px;
	height: 473px;
	position: absolute;
	bottom: -200px;
	z-index: 2;
	background-color: transparent;
	align-self: center;
	justify-self: center;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#announcement {
	align-self: center;
	font-weight: 700;
	background-image: url("../assets/main/main_so_nguoi_hen_uoc_bg.png");
	background-size: 100% 100%;
	margin-top: 90px;
	width: 708px;
	height: 57px;
	z-index: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 36px;
}
#announcement > div {
	display: flex;
	align-items: flex-end;
}

#announcement span {
	color: rgb(161 72 76);
	font-size: 46px;
	font-weight: bold;
	line-height: 46px;
	display: flex;
	align-items: flex-end;
}

#progressContainer > p {
	font-size: 20px;
	margin-block: 12px;
}

/**/

#progress {
	width: 1000px;
	align-self: center;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
}

#progress > #progressLine {
	position: absolute;
	width: 1200px;
	height: 8px;
	background-color: #dcc28e;
	border-radius: 30px;
	top: calc(123px / 2 - 4px);
	left: 50%;
	transform: translateX(-50%);
}

#progressLine > #innerProgressLine {
	background-image: url("../assets/main/main_inner_progress_line_bg.png");
	background-size: 100% 100%;
	height: 100%;
	border-radius: 8px;
	position: relative;
}

#progressLine > #innerProgressLine::after {
	content: "";
	background-image: url("../assets/main/main_butterly_decor.png");
	width: 54px;
	height: 43px;
	position: absolute;
	top: -50px;
	right: -20px;
}

.progressItemContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 22px;
}

.progressItemContainer > .number {
	color: rgb(161 72 76);
	font-size: 22px;
	font-weight: bold;
	margin-top: 2px;
}

.progressItem {
	background-image: url("../assets/main/main_tien_do_item_bg.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	width: 164px;
	aspect-ratio: 164/123;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1;
}
.progressItem > img {
	width: 70px;
	height: 70px;
}

.progressItem[activate="true"] {
	animation-name: my-animation;
	animation-duration: 5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	transform-origin: center;
}

@keyframes my-animation {
	0% {
		transform: scale(1);
	}
	25% {
		transform: scale(1.1);
	}
	50% {
		transform: scale(1);
	}
	75% {
		transform: scale(0.9);
	}
	100% {
		transform: scale(1);
	}
}

.progressItem > img {
	width: 70px;
	aspect-ratio: 1/1;
}

/**/

#progressButtonContainer {
	background-image: url("../assets/main/main_tien_do_2_button_string.png");
	background-repeat: no-repeat;
	background-size: auto 100%;
	background-position: top center;
	width: 12px;
	height: 395px;
	position: absolute;
	top: 15%;
	right: 100px;
	display: flex;
	flex-direction: column;
	gap: 10px;
	align-items: center;
}

#progressButtonContainer > button {
	background-image: url("../assets/main/main_tien_do_button_bg.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	height: 127px;
	aspect-ratio: 65/127;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	font-size: 24px;
}

#progressButtonContainer > button:first-child {
	margin-top: 20px;
}

#henUocButtonMobile {
	display: none !important;
	width: 230px;
	aspect-ratio: 271/85;
	background-image: url("../assets/main/main_hen_uoc_button_mobile.png");
	background-size: 100% 100%;
	margin-top: 15px;
}

#headerMobile {
	display: none !important;
	width: 768px;
	height: 75px;
	background-color: black;
	justify-content: space-between;
	padding-inline: 17px;
}

#appIconMobile {
	width: 100px;
	height: 100px;
}

#plus18Mobile {
	width: 100px;
	height: 153/81;
	object-fit: contain;
}
#downloadButtonMobile {
	background-image: url("../assets/main/main_menu_down_mobile.png");
	width: 158px;
	height: 60px;
}

#homeButtonMobile {
	background-image: url("../assets/main/main_menu_trang_chu_mobile.png");
	width: 158px;
	height: 60px;
}

#fbButtonMobile {
	background-image: url("../assets/main/main_menu_fb_mobile.png");
	width: 60px;
	height: 60px;
}

#groupButtonMobile {
	background-image: url("../assets/main/main_menu_group_mobile.png");
	width: 60px;
	height: 60px;
}

#left {
	display: flex;
	gap: 17px;
}

#right {
	display: flex;
	gap: 10px;
}

#musicButtonMobile {
	background-image: url("../assets/main/main_menu_music_mobile_on.png");
	width: 34px;
	height: 34px;
	position: absolute;
	right: 17px;
	top: calc(75px + 10px);
	z-index: 10;
}
#musicButtonMobile[status="on"] {
	background-image: url("../assets/main/main_menu_music_mobile_on.png");
}
#musicButtonMobile[status="off"] {
	background-image: url("../assets/main/main_menu_music_mobile_off.png");
}

/*Mobile*/
@media screen and (max-width: 768px) {
	:root {
		--progress-item-height: 120px;
	}

	#container1 {
		width: 768px;
		height: 1357px;
		background-image: url("../assets/main/main_bg_mobile.jpg");
		background-position: 50% center;
	}

	#titleContainer {
		width: auto;
		height: 760px;
		left: -100px;
		top: 210px;
	}

	#playButton {
		height: 150px;
		right: 30px;
	}

	#progressContainer {
		width: 768px;
		height: 689px;
		background-image: url("../assets/main/main_hen_uoc_bg_mobile.png");
		bottom: -50%;
		transform: translateY(-50%);
	}

	#progress {
		width: 768px;
	}

	#progress > #progressLine {
		width: 768px;
		transform: none;
		left: 0;
		top: calc(var(--progress-item-height) / 2 - 4px);
	}

	#progressButtonContainer {
		height: 230px;
		right: 30px;
		top: 60px;
		padding-top: 50px;
	}

	#henUocButtonMobile {
		display: block !important;
	}

	#announcement {
		height: 89px;
		margin-top: 120px;
	}

	#announcement span {
		font-size: 48px;
	}

	#progressContainer > p {
		margin-top: 30px;
		margin-bottom: 40px;
	}

	.progressItem {
		width: 180px;
		height: var(--progress-item-height);
	}

	#henUocButton {
		display: none !important;
	}

	#theLeButton {
		height: 132px;
		z-index: 10;
	}

	#header {
		display: none !important;
	}

	#headerMobile {
		display: flex !important;
	}
}
