#container5 {
	background-image: url("../assets/maychu/maychu_bg.jpg");
	height: 1609px;
}

#container5 > .title {
	width: 942px;
	height: 163px;
	margin-top: 150px;
	background-size: 100% 100%;
}

#characterDecorate {
	height: 2052px;
	aspect-ratio: 1550/2052;
	transform: scale(0.95);
	transform-origin: bottom right;
	background-image: url("../assets/maychu/maychu_character.png");
	position: absolute;
	bottom: 0;
	right: 0;
	transition: transform 400ms ease-in;
}

#itemDecorate {
	width: 797px;
	height: 919px;
	transform: scale(0.9);
	background-image: url("../assets/maychu/maychu_items.png");
	position: absolute;
	left: 50px;
	top: 20%;
}

#ctaButton {
	width: 304px;
	height: 278px;
	position: absolute;
	right: 160px;
	top: 300px;
	transform: scale(0.8);
	transition: transform 250ms ease-in;
}

footer {
	width: 1920px;
	height: 264px;
	background-image: url("../assets/maychu/maychu_footer.png");
	position: absolute;
	bottom: 0;
	z-index: 3;
}

#ctaButtonMobile {
	display: none !important;
	background-image: url("../assets/maychu/may_chu_cta_button.png");
	width: 304px;
	height: 61px;
	margin-top: 30px;
	margin-inline: auto;
}

#ctaCharacterMobile {
	display: none !important;
	background-image: url("../assets/maychu/may_chu_cta_icon.png");
	width: 155px;
	height: 217px;
	position: absolute;
	bottom: 315px;
	left: 50%;
	transform: translateX(-50%);
}

@media screen and (max-width: 768px) {
	#container5 {
		width: 768px;
		height: 1423px;
		background-image: url("../assets/maychu/maychu_bg_mobile.jpg");
	}

	#container5 > .title {
		width: 680px;
		height: 180px;
		background-size: 100% 100%;
		margin-top: 0px;
		margin-bottom: 20px;
	}

	#characterDecorate {
		display: none !important;
	}

	#itemDecorate {
		left: 0;
		top: 18%;
		width: 514px;
		height: 566px;
		background-image: url("../assets/maychu/maychu_items_mobile.png");
	}

	#ctaButton {
		display: none !important;
	}

	footer {
		background-size: 100% 100%;
		width: 768px;
		height: 315px;
		background-image: url("../assets/maychu/maychu_footer_mobile.png");
	}

	#ctaButtonMobile,
	#ctaCharacterMobile {
		display: block !important;
	}
}
