#container4 {
	background-image: url("../assets/nangcap/nangcap_bg.jpg");
	height: 1344px;
	position: relative;
}

#container4 > .title {
	background-image: url("../assets/nangcap/nangcap_title.png");
	width: 1136px;
	height: 132px;
	margin-top: 350px;
}

#frame4PC {
	width: 1920px;
	height: 692px;
	position: absolute;
	bottom: 0;
}

#frame4PC .swiper-slide {
	width: 1920px;
	height: 692px;
}

.optionImg > img:first-child {
	width: 100%;
	height: 100%;
	position: absolute;
}

.optionTextDecor {
	width: 918px;
	height: 803px;
	position: absolute;
	right: -50px;
	top: -50px;
}

.optionText {
	position: absolute;
	width: 135px;
	height: 262px;
	top: 130px;
	right: 360px;
	text-align: center;
}

#buttonsContainer {
	width: 274px;
	height: 350px;
	position: absolute;
	top: 0;
	right: 0;
	display: grid;
	grid-template-rows: repeat(1fr, 5);
	z-index: 10;
}

#buttonsContainer > button {
	width: 274px;
	height: 70px;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	border: none;
}

#buttonsContainer > button[isActive="false"]:not(:hover) {
	filter: grayscale(0.8);
}

#buttonsContainer > button[isActive="true"],
#buttonContainer > button:hover {
	animation: my_button_pulse_animation;
	animation-timing-function: linear;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	filter: none;
}

#buttonsContainer > button > p {
	color: white;
	overflow: hidden;
	margin-left: 0;
	text-align: left;
	width: 90px;
	font-size: 16px;
	margin-left: 8px;
}

#buttonsContainer > button::before {
	content: "";
	width: 52px;
	height: 69px;
	background-image: url("../assets/nangcap/nangcap_button_decor.png");
	position: absolute;
	left: -52px;
}

/*swiper*/
#frame4Mobile {
	width: 768px;
	height: calc(821px + 100px);
	display: none;
	position: absolute;
	bottom: 50px;
}

#frame4Mobile .swiper-slide {
	width: 768px;
	height: 821px;
}

#frame4Mobile .swiper-pagination {
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url("../assets/nangcap/nangcap_pagination_bg.png");
	background-repeat: repeat-x;
	gap: 30px;
	height: 31px;
	width: fit-content !important;
	background-position: center;
	position: absolute !important;
	left: 50%;
	transform: translate(-50%);
}

.frame4-swiper-mobile :is(.swiper-pagination-bullet, .swiper-pagination-bullet-active) {
	background-image: url("../assets/nangcap/nangcap_pagination_button.png");
	background-size: 100% 100%;
	width: 31px !important;
	height: 31px !important;
	background-color: transparent;
	opacity: 1;
}
.frame4-swiper-mobile .swiper-pagination-bullet-active {
	transform: scale(1.5);
}

.optionImgMobile > div {
	width: 300px;
	aspect-ratio: 135/262;
	background-color: rgba(0, 0, 0, 0.479);
	position: absolute;
	top: 0;
	right: 0;
}
.optionTextMobile {
	display: block;
	width: 215px;
	aspect-ratio: 135/262;
	position: absolute;
	bottom: 50px;
	left: 15px;
}

@media screen and (max-width: 768px) {
	#container4 {
		width: 768px;
		height: 1259px;
		background-image: url("../assets/nangcap/nangcap_bg_mobile.jpg");
	}

	#container4 > .title {
		width: 398px;
		height: 180px;
		margin-top: 25px;
		background-image: url("../assets/nangcap/nangcap_title_mobile.png");
	}

	#frame4PC {
		display: none !important;
	}

	#frame4Mobile {
		display: block;
	}
}
