.popupContainer {
	pointer-events: none;
	width: 40vw;
	aspect-ratio: 831/564;
	background-size: 100% 100%;
	background-image: url("../assets/popup/popup_bg.png");
}

/**/

.popupTitle {
	width: 716px;
	height: 38px;
	margin-top: 48px;
	margin-inline: auto;
}

#popupHenUoc > .popupTitle {
	background-image: url("../assets/popup/popup_dang_ky_hen_uoc_title.png");
}

:is(#popupThongTin1, #popupThongTin2) > .popupTitle {
	background-image: url("../assets/popup/popup_dang_ky_thong_tin_title.png");
}

/**/

.popupContent {
	width: 100%;
	height: calc(564px - 38px - 16px);
	overflow: scroll;
}

#popupSignUp {
	pointer-events: none;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

#popupSignUp > button {
	border: none;
	background-color: transparent;
}

#currentServer {
	background-image: url("../assets/popup/popup_current_sv_button.png");
	background-size: 100% 100%;
	width: calc(351px * 0.9);
	height: calc(296px * 0.9);
	position: relative;
	z-index: 1000;
}

#newServer {
	background-image: url("../assets/popup/popup_new_sv_button.png");
	background-size: 100% 100%;
	width: calc(351px * 0.9);
	height: calc(296px * 0.9);
	position: relative;
	z-index: 1000;
}

/**/

:is(#popupInfo1, #popupInfo2) {
	/******/
	pointer-events: none;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 16px;
	overflow: hidden;
}

:is(#popupInfo1, #popupInfo2) > div {
	display: flex;
	align-items: center;
}

:is(#popupInfo1, #popupInfo2) label {
	display: inline-block;
	width: 177px;
	height: 55px;
	font-size: 28px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
:is(#popupInfo1, #popupInfo2) input {
	display: inline-block;
	width: 472px;
	height: 55px;
	font-size: 36px;
	padding-left: 5px;
}

:is(#popupInfo1, #popupInfo2) > button {
	display: block;
	width: 315px;
	height: 63px;
	color: white;
	font-size: 28px;
	margin-top: 16px;
	background-image: url("../assets/popup/popup_submit_button.png");
}

/**/
#popupRule {
	pointer-events: none;
	padding: 16px;
}

#popupRule .title {
	font-weight: bold;
	font-size: 18px;
}

#popupRule .tab {
	text-indent: 40px;
}

/* custom */
#popupBlackScreen {
	display: none;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.8);
}

@media screen and (max-width: 768px) {
}
